.manuber{
	width:1000px;
	height:50px;
	background:gray;
	color:white;
	
}
#manu{
	padding:0;
	margin:0;
	line-height:40px;
	float:left;
	
}

#manu li{
	list-style:none;
	display:inline;
	
	
}
#manu a{
	text-decoration:none;
	color:white;
	padding:15px;
	margin:0px;

	font-family:Times New Roman;
	font-size:22px;		
}

#manu a:hover{color:orange; font-weight:bolder; text-decoration:underline;}